{% extends 'base.html'%}
{% import "bootstrap/wtf.html" as wtf %}
 {% block styles%} {{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/categories.css')}}"> {% endblock %}
<br>
<br>
<br>
<br>

<body>
  {% block content %}
  <br>
  <br>
  <button type="button" class="btn btn-outline-primary"><a href="../pitch/">Add Pitch</a></button>
  <div class="container">
    <div class="card-columns">
      {% for category in category %}

      <div class="card border-success mb-3" style="max-width: 28rem;">
        <div class="card-header bg-transparent border-success">{{category.author}}</div>
        <div class="card-body text-success">
          <h5 class="card-title">{{category.title}}</h5>
          <p class="card-text">{{category.pitch}}</p>
          <a href="/comments/{{category.id}}">view comment</a>
        </div>
        <div class="card-footer bg-transparent border-success"><small class="text-muted">Publish date:{{category.date}}</small></div>
        <button type="button" class="btn btn-outline-primary"><a href="/new_comment/{{category.id}}">Comment</a></button>
      </div>


{% endfor %}
      </div>



  {% endblock %}
</body>
