{% extends 'base.html'%}
{% import "bootstrap/wtf.html" as wtf %}
 {% block styles%} {{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/categories.css')}}"> {% endblock %}
<br>
<br>
<br>
<br>

<body>
  {% block content %}
  <br>
  <br>
  <div class="container">
    <div class="card-columns">
      {% for category in category %}

      <div class="card border-success mb-3" style="max-width: 18rem;">
        <div class="card-header bg-transparent border-success">{{category.author}}</div>
        <div class="card-body text-success">
          <h5 class="card-title">{{category.title}}</h5>
          <p class="card-text">{{category.pitch}}</p>
        </div>
        <div class="card-footer bg-transparent border-success"><small class="text-muted">Publish date:{{category.date}}</small></div>
      </div>

<button type="button" class="btn btn-outline-primary"><a href="/new_comment">Comment</a></button>
{% endfor %}
{% for comment in comment %}
<div class="card-body">
    <p>{{comment.comment}}</p>
  </div>
{% endfor %}
      </div>



  {% endblock %}
</body>
